<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="JasonDhose#0001">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Wibbo: SandBox</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
        }
    </script>
    <style>
        ::-webkit-scrollbar {
            width: 14px;
        }
        ::-webkit-scrollbar-thumb {
            border: 4px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            border-radius: 9999px;
            background-color: rgba(255, 255, 255, 0.2);
        }
        ::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255, 255, 255, 0.6);
        }
        .overflow-y-overlay {
            overflow-y: overlay!important;
        }
    </style>
</head>
<body class="w-screen h-screen overflow-hidden antialiased text-white bg-gray-900">
    <div id="app" style="display: none">
        <transition enter-active-class="duration-300" enter-from-class="opacity-0" enter-to-class="opacity-100" leave-active-class="duration-300" leave-from-class="opacity-100" leave-to-class="opacity-0">
            <div class="absolute top-0 left-0 right-0 z-50 p-2 text-center bg-red-800 rounded" v-if="errors.length">
                <div v-for="error in errors">{{ error }}</div>
                <div class="absolute -translate-y-1/2 cursor-pointer top-1/2 right-4" @click="errors = []">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </div>
        </transition>
        <transition enter-active-class="duration-300" enter-from-class="opacity-0" enter-to-class="opacity-100" leave-active-class="duration-300" leave-from-class="opacity-100" leave-to-class="opacity-0">
            <div class="absolute top-0 left-0 right-0 z-50 p-2 text-center bg-green-800 rounded" v-if="sucesses.length">
                <div v-for="sucesse in sucesses">{{ sucesse }}</div>
                <div class="absolute -translate-y-1/2 cursor-pointer top-1/2 right-4" @click="sucesses = []">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </div>
        </transition>
        <div v-if="auth.logged === false">
            <div class="flex items-center justify-center min-h-screen">
                <div class="px-8 py-6 mt-4 text-left bg-gray-800 rounded shadow-lg">
                    <h3 class="text-2xl font-bold text-center">SandBox</h3>
                    <form @submit="postLogin">
                        <div class="mt-4">
                            <div>
                                <label class="block" for="email">Pseudo<label>
                                <input type="text" placeholder="Pseudo" v-model="loginForm.username"
                                    class="w-full px-4 py-2 mt-2 bg-gray-600 border border-gray-700 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                            </div>
                            <div class="mt-4">
                                <label class="block">Mot de passe<label>
                                <input type="password" placeholder="Mot de passe" v-model="loginForm.password"
                                    class="w-full px-4 py-2 mt-2 bg-gray-600 border border-gray-700 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                            </div>
                            <div class="flex items-baseline justify-between">
                                <button class="w-full px-6 py-2 mt-4 text-white transition-colors bg-blue-600 rounded-lg hover:bg-blue-900">Connexion</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div v-else>
            <iframe class="absolute top-0 bottom-0 left-0 right-0 z-0 w-full h-full" :src="'https://nitro.wibbo.io/?sso=' + auth.ssoticket" v-if="auth.ssoticket !== ''"></iframe>
            
            <div class="absolute z-10 w-auto p-2 transition-colors bg-gray-800 border-2 border-gray-700 rounded cursor-pointer top-1 left-1 hover:bg-gray-700" @click="route.path = 'index'">
                <div class="space-y-1">
                    <div class="w-4 h-0.5 bg-white"></div>
                    <div class="w-4 h-0.5 bg-white"></div>
                    <div class="w-4 h-0.5 bg-white"></div>
                </div>
            </div>

            <transition enter-active-class="duration-300" enter-from-class="-translate-x-full" enter-to-class="translate-x-0" leave-active-class="duration-300" leave-from-class="translate-x-0" leave-to-class="-translate-x-full">
                <nav class="absolute top-0 bottom-0 left-0 z-10 flex flex-col h-full gap-1 p-4 bg-gray-800 shadow shadow-gray-600" v-show="route.path !== ''" :key="route.path !== ''">
                    <div class="flex justify-between py-2">
                        <span class="font-bold">SandBox</span>

                        <div class="cursor-pointer" @click="route.path = ''">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </div>
                    </div>

                    <ul class="flex flex-col gap-1 overflow-y-overlay">
                        <li class="w-full p-2 text-center transition-colors border-2 border-gray-700 cursor-pointer hover:bg-gray-600" @click="route.path = 'index'">Acceuil</li>
                        <li class="w-full p-2 text-center transition-colors border-2 border-gray-700 cursor-pointer hover:bg-gray-600" @click="route.path = 'upload-furni'">Ajouter des mobiliers</li>
                        <li class="w-full p-2 text-center transition-colors border-2 border-gray-700 cursor-pointer hover:bg-gray-600" @click="logout">Déconnexion</li>
                    </ul>
                </nav>
            </transition>
            
            <transition enter-active-class="duration-300" enter-from-class="opacity-0" enter-to-class="opacity-100" leave-active-class="duration-300" leave-from-class="opacity-100" leave-to-class="opacity-0">
                <div class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center bg-black bg-opacity-75" v-show="route.path !== ''" :key="route.path !== ''">
                    
                    <transition enter-active-class="absolute duration-300" enter-from-class="opacity-0" enter-to-class="opacity-100" leave-active-class="absolute duration-300" leave-from-class="opacity-100" leave-to-class="opacity-0">
                        <div :key="route.path">
                            <div v-if="route.path == 'index'">
                                <h1 class="text-4xl">Bienvenue sur la SandBox!</h1>
                            </div>
                                
                            <div v-if="route.path == 'upload-furni'">
                                <div class="flex flex-col gap-2 p-4 bg-gray-900 rounded">
                                    <h1 class="font-bold text-center">Importer des mobiliers</h1>
                                        <div class="flex items-center justify-center w-full">
                                            <label class="relative flex flex-col w-full overflow-hidden border-4 border-blue-200 border-solid cursor-pointer hover:animate-pulse">
                                                <div class="flex flex-col items-center justify-center p-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-gray-400 group-hover:text-gray-600"
                                                        fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                                        v-if="file == null">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                            d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                                                    </svg>
                                                    <p class="px-2 pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600">Importer des fichier</p>
                                                </div>
                                                
                                                <input type="file" class="opacity-0" accept=".nitro" multiple ref="upload" :accept="accept" @change="onUploadChange()" hidden>
                                            </label>
                                        </div>
                                    <ul class="flex flex-col gap-1 px-2 overflow-y-overlay max-h-32" v-if="uploadForm.files.length">
                                        <li v-for="file, index in uploadForm.files"
                                            class="flex justify-between p-2 rounded even:bg-gray-700 odd:bg-gray-800">
                                            {{ file.name }}
                                            <div class="cursor-pointer" @click="removeUpload(file.name)">
                                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                                </svg>
                                            </div>
                                        </li>
                                    </ul>
                                    <button class="w-full p-2 text-center transition-colors border-2 border-gray-700 cursor-pointer hover:bg-gray-600" @click="postUpload">Importer</button>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </transition>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    errors: [],
                    sucesses: [],
                    loginForm: {
                        username: '',
                        password: '',
                    },
                    auth: {
                        logged: false,
                        token: '',
                        ssoticket: ''
                    },
                    route: {
                        path: ''
                    },
                    uploadForm: {
                        files: [],
                    },
                    loading: false,
                }
            },
            async created() {
				const appElement = document.getElementById("app");
				if(appElement) appElement.style.display = 'block';
			
                const token = localStorage.getItem('token');

                if(token) {
                    this.auth.token = token;

                    try {
                        await this.loadSSOTicket();

                        this.auth.logged = true;
                    } catch(e) {
                    }
                }
            },
            methods: {

                async postUpload(e) {
                    e.preventDefault();

                    if(this.loading) {
                        return;
                    }

                    this.errors = [];
                    this.sucesses = [];

                    if(this.uploadForm.files.length == 0) {
                        this.errors.push('Aucun fichier à importer');
                        return;
                    }

                    const formData = new FormData();
                    for(let file of this.uploadForm.files.slice(0, 20)) {
                        formData.append('file[]', file.file);
                    }
                    
                    try {
                        this.loading = true;
                        
                        const data = await this.fetchAPI('uploadfurni', 'POST', formData, true);
                        this.sucesses.push('Fichiers importés');
                    } catch(e) {
                        
                    } finally {
                        
                        this.loading = false;
                    }
                },

                onUploadChange(e) {
                    const files = this.upload.files;

                    if(!files) return;

                    for(const file of files) {
                        if(this.uploadForm.files.filter(f => f.name === file.name).length !== 0) {
                            this.uploadForm.files = this.uploadForm.files.filter(f => f.name !== file.name);
                        }

                        this.uploadForm.files.push({ name: file.name, file: file });
                    }

                    if(this.uploadForm.files.length > 20) {
                        this.uploadForm.files = this.uploadForm.files.slice(0, 20);
                    }
                },

                removeUpload(name) {
                    this.uploadForm.files = this.uploadForm.files.filter(f => f.name !== name);
                },
                
				async postLogin(e) {
                    e.preventDefault();

                    if(this.loading) {
                        return;
                    }

                    this.errors = [];

                    if(this.loginForm.username.length < 3 || this.loginForm.password.length < 3) {
                        this.errors.push('Veuillez remplir tous les champs');
                        return;
                    }

                    try {
                        this.loading = true;

                        const dataLogin = await this.fetchAPI('login', 'POST', JSON.stringify(this.loginForm));

                        this.auth.token = dataLogin.token;

                        localStorage.setItem('token', this.auth.token);

                        await this.loadSSOTicket();

                        this.auth.logged = true;
                    } catch(e) {
                        this.loginForm = {
                            username: '',
                            password: '',
                        }
                        this.logout();
                    } finally {
                        this.loading = false;
                    }
				},

                async loadSSOTicket() {
                    const data = await this.fetchAPI("client");

                    this.auth.ssoticket = data.ticket;
                },

                logout() {
                    this.auth = {
                        logged: false,
                        token: '',
                        ssoticket: ''
                    }

                    localStorage.clear();
                },

                async fetchAPI(url, method = "GET", body = null, formData = false) {
                    
                    const response = await fetch('/api/index.php?' + url, {
                        method: method,
                        headers: {
                            'Authorization': 'Bearer ' + this.auth.token,
                        },
                        body: body
                    });

                    const data = await response.json();

                    if(response.status === 401) {
                        this.logout();
                        this.errors.push('Vous avez été déconnecté');
                        throw new Error();
                    }

                    if(response.status === 400 || response.status === 404) {
                        this.errors.push(data.message);
                        throw new Error();
                    }

                    if(response.status !== 200) 
                    {
                        this.errors.push('Une erreur est survenue');
                        throw new Error(response.message);
                    }
                    
                    return data;
                }
            },
            computed: {
                upload() {
                    return this.$refs.upload;
                }
            }
        }).mount('#app')
    </script>
</body>
</html>